@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
    font-family: "InterVariable", sans-serif;
	color: #8d97ad;
    font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
	font-size: 13px;
}

.team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    line-height: 14px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 10 px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, 5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.rounded-circle {
    width: 150px; /* Sesuaikan dengan kebutuhan */
    height: 150px; /* Sama dengan width */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}

.team4 img.avatar {
    margin: 0 auto; /* Tengah untuk browser lama */
    max-width: 150px; /* Ukuran maksimal gambar */
    height: auto; /* Pertahankan proporsi */
}

.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-social-facebook, .icon-social-twitter, .icon-social-instagram {
  font-size: 24px;
  color: #333;
}

.icon-social-facebook:hover {
  color: #3b5998; /* Warna biru Facebook */
}

.icon-social-twitter:hover {
  color: #00acee; /* Warna biru Twitter */
}

.icon-social-instagram:hover {
  color: #e4405f; /* Warna merah muda Instagram */
}
